
# apple
**/.DS_Store

data/*.pdf
data/*.xml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

## Core latex/pdflatex auxiliary files:
latex/*.aux
latex/*.lof
latex/*.log
latex/*.lot
latex/*.fls
latex/*.out
latex/*.toc
latex/*.fmt
latex/*.fot
latex/*.cb
latex/*.cb2
latex/*.pdf
latex/*.fdb_latexmk
latex/*.synctex.gz
.*.lb

# perso
dev/
test/
test_results/
!test/test.py
**/*.egg-info
*.fits
*.array
output/

# Virtual Environments
.venv/
venv/
env/
ENV/
bin/
include/
lib/
share/

# Pytest / Coverage / Caches
.pytest_cache/
.mypy_cache/
.tox/
.coverage
htmlcov/
.ipynb_checkpoints/

## docs
docs/_build
docs/md/generated
_docs
docs/tested_blocks.md
docs/md/all_blocks.rst
docs/md/template.py

## Pycharm
*.xml
.idea

## VS Code
.vscode/*
!.vscode/settings.json

## OS files
Thumbs.db
ehthumbs.db

## IPython cache
.ipython/

## profiling artifacts
cprofile_results.txt
*.prof

